.checkout-heading a {
    cursor: pointer;
}

table.list {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    margin-bottom: 20px;
}
table.list td {
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
    background-color: #EFEFEF;
    padding: 0px 5px;
}
table.list thead td a, .list thead td {
    text-decoration: none;
    color: #222222;
    font-weight: bold;
}
table.list tbody td {
    padding: 0px 5px;
}
table.list .left {
    text-align: left;
    padding: 7px;
}
table.list .right {
    text-align: right;
    padding: 7px;
}
table.list .center {
    text-align: center;
    padding: 7px;
}

ul.ui-autocomplete {
    background-color: white;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

ul.ui-autocomplete .ui-menu-item {
    margin-left: 10px;
}

.search-image {
    float:left;
    margin: 5px;
    border: 1px solid #eee;
}

.search-item-wrap {
    clear: both;
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid #eee;
}

.search-description {
    font-size: 12px;
}

.search-price {
    font-weight: bold;
    margin-top: 5px;
}

.clear {
    clear: both;
}

.products-list .desc-over {
    min-height: 175px;
}

.options {
    padding-right: 7px;
}

