<?php

echo $header; ?>
<main class="wrap"> 

    <div class="container"> 
 <?php echo $column_left; ?>
    </div>

    <hr>
    <div class="content">
        <?php echo $content_top; ?>
    </div>
</main>

<?php echo $footer; ?>