<?php echo $header; ?>    <?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content"><?php echo $content_top; ?>
  <h2><?php echo $heading_title; ?></h2>
  <p><?php echo $text_payment_failed ?></p>
  <?php echo $content_bottom; ?>
</div>
<?php echo $footer; ?>