<?php echo $header; ?>
<main class="wrap">
  <div class="container">
    
 <?php echo $column_left; ?>  
      
      <?php echo $column_right; ?>

    <div class="content"><?php echo $content_top; ?>
<?php echo $this->renderPartial('breadcrumbs'); ?>

      <h3><?php echo $heading_title; ?></h3>

      <?php if ($orders) { ?>
      <?php foreach ($orders as $order) { ?>
      <div class="order-list">
        <div class="order-id"><b><?php echo $text_order_id; ?></b> #<?php echo $order['order_id']; ?></div>
        <div class="order-status"><b><?php echo $text_status; ?></b> <?php echo $order['status']; ?></div>
        <div class="order-content">
          <div><b><?php echo $text_date_added; ?></b> <?php echo $order['date_added']; ?><br />
            <b><?php echo $text_products; ?></b> <?php echo $order['products']; ?></div>
          <div><b><?php echo $text_customer; ?></b> <?php echo $order['name']; ?><br />
            <b><?php echo $text_total; ?></b> <?php echo $order['total']; ?></div>
          <div class="order-info"><a href="<?php echo $order['href']; ?>"><img src="catalog/view/theme/default/image/info.png" alt="<?php echo $button_view; ?>" title="<?php echo $button_view; ?>" /></a>&nbsp;&nbsp;<a href="<?php echo $order['reorder']; ?>"><img src="catalog/view/theme/default/image/reorder.png" alt="<?php echo $button_reorder; ?>" title="<?php echo $button_reorder; ?>" /></a></div>
        </div>
      </div>
      <?php } ?>
      <div class="pagination"><?php echo $pagination; ?></div>
      <?php } else { ?>
      <div class="empty"><?php echo $text_empty; ?></div>
      <?php } ?>
      <div class="buttons">
        <div class="fr"><a href="<?php echo $continue; ?>" class="btn btn-inline"><?php echo $button_continue; ?></a></div>
      </div>
    </div>
  </div>
</main>
<?php echo $footer; ?>