<div class="fl">

    <div class="about-shop"><?php echo $message; ?></div>

    <div class="warranty">
        <h6><i class="icon icon-ribbon"></i> Официальная гарантия</h6>
        <a href="<?php echo $this->url->link('information/information', 'information_id=5'); ?>">Ознакомтесь со списком фирменных центров</a>
    </div>
    <p class="copy">Evromarket.by &copy; <?php echo date('Y'); ?></p>


</div>


