<?php

echo $header; ?>

<main class="wrap">
    <div class="container"> 

 <?php echo $column_left; ?>
        <?php // echo $column_right; ?>

        <div class="content">

            <?php echo $this->renderPartial('breadcrumbs'); ?>

            <div class="single-product">
                <h3>
                    <?php if ($manufacturer) { ?>
                       <?php echo $manufacturer; ?>
                    <?php } ?>

                    <?php echo $heading_title; ?>
                </h3>

              <?php if ($thumb || $images) { ?>
                <div class="product-images">
                    <div class="product-image-big">
                        <a href="<?php echo $popup; ?>" title="<?php echo $heading_title; ?>" class="colorbox"><img src="<?php echo $thumb; ?>" title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" id="image" /></a>
                    </div>

            <?php if ($images) { ?>

                    <div class="product-thumbs">
                        <div class="carousel">
                            <ul>
                 <?php foreach ($images as $image) { ?>
                                <li>
                                    <a href="<?php echo $image['popup']; ?>" title="<?php echo $heading_title; ?>" class="colorbox"><img src="<?php echo $image['thumb']; ?>" title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" /></a>
                                </li>
                 <?php } ?>
                            </ul>
                        </div>
                        <a class="carousel-prev" href="#"></a>
                        <a class="carousel-next" href="#"></a>
                    </div>
                <?php } ?>
                </div>
              <?php } ?>
                <div class="product-desc">
                    <div class="price">
                        <label>Цена:</label>

                        <?php if (!$special) { ?>
                        <p> <?php echo $price; ?></p>
                            <?php } else { ?>
                        <p class="old"><?php echo $price; ?></p> <p><?php echo $special; ?></p>
                            <?php } ?>
                    </div>
                    <div class="amount">
                        <p><label for="am"><?php echo $text_qty; ?></label></p>

                        <input type="text" class="field" id="am" name="quantity" size="2" value="<?php echo $minimum; ?>" />
                        <input type="hidden" name="product_id" size="2" value="<?php echo $product_id; ?>" />

                        <a href="#" id="button-cart"  class="add-to-cart btn">
                            <i class="icon icon-cart"></i>
                            Добавить в корзину
                        </a>
                    </div>
                    <div class="primary-info">
                        <?php if ($manufacturer) { ?>
                        <p><?php echo $text_manufacturer; ?>  <a href="<?php echo $manufacturers; ?>"><?php echo $manufacturer; ?></a></p>
                        <?php } ?>
                        <p><?php echo $text_model; ?> <?php echo $model; ?></p>

                         <?php if ($points) { ?>
                        <p><?php echo $text_points; ?> <?php echo $points; ?></p>
                        <?php } ?>

                        <?php if ($tax) { ?>
                        <p><?php echo $text_tax; ?> <?php echo $tax; ?></p>
                        <?php } ?>

                        <p><?php echo $text_stock; ?> <?php echo $stock; ?></p>

                    </div>
                    <p>
      <?php if ($options) { ?>
                    <div class="options">
                        <!--<h2><?php echo $text_option; ?></h2>-->
                        <!--<br />-->
        <?php foreach ($options as $option) { ?>
        <?php if ($option['type'] == 'select') { ?>
                        <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
          <?php if ($option['required']) { ?>
                            <span class="required">*</span>
          <?php } ?>
                            <b><?php echo $option['name']; ?>:</b><br />
                            <select name="option[<?php echo $option['product_option_id']; ?>]">
                                <option value=""><?php echo $text_select; ?></option>
            <?php foreach ($option['option_value'] as $option_value) { ?>
                                <option value="<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
            <?php if ($option_value['price']) { ?>
                                    (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
            <?php } ?>
                                </option>
            <?php } ?>
                            </select>
                        </div>
                        <br />
        <?php } ?>
        <?php if ($option['type'] == 'radio') { ?>
                        <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
          <?php if ($option['required']) { ?>
                            <span class="required">*</span>
          <?php } ?>
                            <b><?php echo $option['name']; ?>:</b><br />
          <?php foreach ($option['option_value'] as $option_value) { ?>
                            <input type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" id="option-value-<?php echo $option_value['product_option_value_id']; ?>" />
                            <label for="option-value-<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
            <?php if ($option_value['price']) { ?>
                                (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
            <?php } ?>
                            </label>
                            <br />
          <?php } ?>
                        </div>
                        <br />
        <?php } ?>
        <?php if ($option['type'] == 'checkbox') { ?>
                        <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
          <?php if ($option['required']) { ?>
                            <span class="required">*</span>
          <?php } ?>
                            <b><?php echo $option['name']; ?>:</b><br />
          <?php foreach ($option['option_value'] as $option_value) { ?>
                            <input type="checkbox" name="option[<?php echo $option['product_option_id']; ?>][]" value="<?php echo $option_value['product_option_value_id']; ?>" id="option-value-<?php echo $option_value['product_option_value_id']; ?>" />
                            <label for="option-value-<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
            <?php if ($option_value['price']) { ?>
                                (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
            <?php } ?>
                            </label>
                            <br />
          <?php } ?>
                        </div>
                        <br />
        <?php } ?>
        <?php if ($option['type'] == 'image') { ?>
                        <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
          <?php if ($option['required']) { ?>
                            <span class="required">*</span>
          <?php } ?>
                            <b><?php echo $option['name']; ?>:</b><br />
                            <table class="option-image">
            <?php foreach ($option['option_value'] as $option_value) { ?>
                                <tr>
                                    <td style="width: 1px;"><input type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" id="option-value-<?php echo $option_value['product_option_value_id']; ?>" /></td>
                                    <td><label for="option-value-<?php echo $option_value['product_option_value_id']; ?>"><img src="<?php echo $option_value['image']; ?>" alt="<?php echo $option_value['name'] . ($option_value['price'] ? ' ' . $option_value['price_prefix'] . $option_value['price'] : ''); ?>" /></label></td>
                                    <td><label for="option-value-<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
                  <?php if ($option_value['price']) { ?>
                                            (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                  <?php } ?>
                                        </label></td>
                                </tr>
            <?php } ?>
                            </table>
                        </div>
                        <br />
        <?php } ?>
        <?php if ($option['type'] == 'text') { ?>
                        <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
          <?php if ($option['required']) { ?>
                            <span class="required">*</span>
          <?php } ?>
                            <b><?php echo $option['name']; ?>:</b><br />
                            <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['option_value']; ?>" />
                        </div>
                        <br />
        <?php } ?>
        <?php if ($option['type'] == 'textarea') { ?>
                        <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
          <?php if ($option['required']) { ?>
                            <span class="required">*</span>
          <?php } ?>
                            <b><?php echo $option['name']; ?>:</b><br />
                            <textarea name="option[<?php echo $option['product_option_id']; ?>]" cols="40" rows="5"><?php echo $option['option_value']; ?></textarea>
                        </div>
                        <br />
        <?php } ?>
        <?php if ($option['type'] == 'file') { ?>
                        <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
          <?php if ($option['required']) { ?>
                            <span class="required">*</span>
          <?php } ?>
                            <b><?php echo $option['name']; ?>:</b><br />
                            <input type="button" value="<?php echo $button_upload; ?>" id="button-option-<?php echo $option['product_option_id']; ?>" class="button">
                            <input type="hidden" name="option[<?php echo $option['product_option_id']; ?>]" value="" />
                        </div>
                        <br />
        <?php } ?>
        <?php if ($option['type'] == 'date') { ?>
                        <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
          <?php if ($option['required']) { ?>
                            <span class="required">*</span>
          <?php } ?>
                            <b><?php echo $option['name']; ?>:</b><br />
                            <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['option_value']; ?>" class="date" />
                        </div>
                        <br />
        <?php } ?>
        <?php if ($option['type'] == 'datetime') { ?>
                        <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
          <?php if ($option['required']) { ?>
                            <span class="required">*</span>
          <?php } ?>
                            <b><?php echo $option['name']; ?>:</b><br />
                            <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['option_value']; ?>" class="datetime" />
                        </div>
                        <br />
        <?php } ?>
        <?php if ($option['type'] == 'time') { ?>
                        <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
          <?php if ($option['required']) { ?>
                            <span class="required">*</span>
          <?php } ?>
                            <b><?php echo $option['name']; ?>:</b><br />
                            <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['option_value']; ?>" class="time" />
                        </div>
                        <br />
        <?php } ?>
        <?php } ?>
                    </div>
      <?php } ?>
                    </p>
                </div>
            </div>

            <div class="single-product">
                <div class="tabs">
                    <div class="tabs-controls">
                    <?php if(!empty($description)): ?>
                        <a href="#desc" class="tab-control">Описание</a>
                    <?php endif; ?>

                    <?php if (!empty($attribute_groups)) { ?>
                        <a href="#features" class="tab-control">Характеристики</a>
                    <?php } ?>

                    <?php if ($products) { ?>
                        <a href="#related" class="tab-control">Варианты</a>
                    <?php } ?>

                        <a href="#reviews" class="tab-control"><?php echo $tab_review; ?></a>
                    </div> 


                    <div class="tabs-content">

                    <?php if(!empty($description)): ?>
                        <div class="tab-content" data-tab="desc">
                        <?php echo $description; ?>
                        </div>
                    <?php endif; ?>

                    <?php if (!empty($attribute_groups)) { ?>
                        <div class="tab-content" data-tab="features">
                            <div class="features">   
                             <?php foreach ($attribute_groups as $attribute_group) { ?>
                                <table>
                                    <tr>
                                        <th colspan="2"><?php echo $attribute_group['name']; ?></th>
                                    </tr>
                                    <tbody>
        <?php foreach ($attribute_group['attribute'] as $attribute) { ?>
                                        <tr>
                                            <td class="feature-title"><?php echo $attribute['name']; ?></td>
                                            <td><?php echo $attribute['text']; ?></td>
                                        </tr>
                                <?php } ?>
                                    </tbody>
                                </table>
                            <?php } ?>
                            </div>
                        </div>
  <?php } ?>
                        <div class="tab-content" data-tab="reviews">
<?php if ($review_status) { ?>
                            <div id="review"></div>

                            <div class="add-review">
                                <h4 id="review-title"><?php echo $text_write; ?></h4>

                                <div class="form-group">
                                    <label class="form-label" for="name"><?php echo $entry_name; ?></label>
                                    <div class="form-control-wrap form-control-feedback">
                                        <input type="text" id="name" name="name" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="feedback"><?php echo $entry_review; ?></label>
                                    <div class="form-control-wrap">
                                        <textarea id="feedback" name="text" class="form-control"></textarea>
                                        <span style="font-size: 11px;"><?php echo $text_note; ?></span>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="form-label" for="rating"><?php echo $entry_rating; ?></label>
                                    <div class="form-control-wrap" style="margin-top:8px;">
                                        <span><?php echo $entry_bad; ?></span>&nbsp;
                                        <input type="radio" name="rating" value="1" />
                                        &nbsp;
                                        <input type="radio" name="rating" value="2" />
                                        &nbsp;
                                        <input type="radio" name="rating" value="3" />
                                        &nbsp;
                                        <input type="radio" name="rating" value="4" />
                                        &nbsp;
                                        <input type="radio" name="rating" value="5" />
                                        &nbsp;<span><?php echo $entry_good; ?></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="captcha"><?php echo $entry_captcha; ?></label>
                                    <div class="form-control-wrap form-control-feedback">
                                        <input type="text" id="name"  value="" name="captcha" class="form-control" />
                                        <img src="index.php?route=product/product/captcha" alt="" id="captcha" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-label">&nbsp;</label>
                                    <button type="submit" class="btn btn-inline" id="button-review"><?php echo $button_continue; ?></button>
                                </div>

                            </div>

  <?php } ?>
                        </div>

                    <?php if (!empty($products)) { ?>
                        <div data-tab="related" class="tab-content">

                            <ul class="options">
                             <?php foreach ($products as $product) { ?>
                                <li>
                                    <div class="fl">
                                        <figure>
                                            <a href="<?php echo $product['href']; ?>">
                                                <img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" />
                                            </a>
                                        </figure>
                                        <div class="option-desc">
                                            <p><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></p>
                                                <?php if ($product['price']) { ?>

                                        <?php if (!$product['special']) { ?>
                                            <p class="price"><?php echo $product['price']; ?></p>
                                            <?php } else { ?>
                                            <p class="price-old"><?php echo $product['price']; ?></p> 
                                            <p class="price"><?php echo $product['special']; ?></p>
                                            <?php } ?>

                                        <?php } ?>
                                        </div>
                                    </div>
                                    <p class="option-text">
                                    <?php echo $product['description']; ?>
                                    </p>
                                </li>
                             <?php } ?>
                            </ul>
                        </div>
  <?php } ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<?php /* ?>

<div id="content"><?php echo $content_top; ?>
  <div class="breadcrumb">
    <?php foreach ($breadcrumbs <?php if ($tags) { ?>
<div class="tags"><b><?php echo $text_tags; ?></b>
    <?php for ($i = 0; $i < count($tags); $i++) { ?>
    <?php if ($i < (count($tags) - 1)) { ?>
    <a href="<?php echo $tags[$i]['href']; ?>"><?php echo $tags[$i]['tag']; ?></a>,
    <?php } else { ?>
    <a href="<?php echo $tags[$i]['href']; ?>"><?php echo $tags[$i]['tag']; ?></a>
    <?php } ?>
    <?php } ?>
</div>
  <?php } ?>as $breadcrumb) { ?>
    <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </div>
  <h1><?php echo $heading_title; ?></h1>
  <div class="product-info">
    <?php if ($thumb || $images) { ?>
    <div class="left">
      <?php if ($thumb) { ?>
      <div class="image"><a href="<?php echo $popup; ?>" title="<?php echo $heading_title; ?>" class="colorbox"><img src="<?php echo $thumb; ?>" title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" id="image" /></a></div>
      <?php } ?>
      <?php if ($images) { ?>
      <div class="image-additional">
        <?php foreach ($images as $image) { ?>
        <a href="<?php echo $image['popup']; ?>" title="<?php echo $heading_title; ?>" class="colorbox"><img src="<?php echo $image['thumb']; ?>" title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" /></a>
        <?php } ?>
      </div>
      <?php } ?>
    </div>
    <?php } ?>
    <div class="right">
      <div class="description">
        <?php if ($manufacturer) { ?>
        <span><?php echo $text_manufacturer; ?></span> <a href="<?php echo $manufacturers; ?>"><?php echo $manufacturer; ?></a><br />
        <?php } ?>
        <span><?php echo $text_model; ?></span> <?php echo $model; ?><br />
        <?php if ($reward) { ?>
        <span><?php echo $text_reward; ?></span> <?php echo $reward; ?><br />
        <?php } ?>
        <span><?php echo $text_stock; ?></span> <?php echo $stock; ?></div>
      <?php if ($price) { ?>
      <div class="price"><?php echo $text_price; ?>
        <?php if (!$special) { ?>
        <?php echo $price; ?>
        <?php } else { ?>
        <span class="price-old"><?php echo $price; ?></span> <span class="price-new"><?php echo $special; ?></span>
        <?php } ?>
        <br />
        <?php if ($tax) { ?>
        <span class="price-tax"><?php echo $text_tax; ?> <?php echo $tax; ?></span><br />
        <?php } ?>
        <?php if ($points) { ?>
        <span class="reward"><small><?php echo $text_points; ?> <?php echo $points; ?></small></span><br />
        <?php } ?>
        <?php if ($discounts) { ?>
        <br />
        <div class="discount">
          <?php foreach ($discounts as $discount) { ?>
          <?php echo sprintf($text_discount, $discount['quantity'], $discount['price']); ?><br />
          <?php } ?>
        </div>
        <?php } ?>
      </div>
      <?php } ?>
      <?php if ($profiles): ?>
      <div class="option">
          <h2><span class="required">*</span><?php echo $text_payment_profile ?></h2>
          <br />
          <select name="profile_id">
              <option value=""><?php echo $text_select; ?></option>
              <?php foreach ($profiles as $profile): ?>
              <option value="<?php echo $profile['profile_id'] ?>"><?php echo $profile['name'] ?></option>
              <?php endforeach; ?>
          </select>
          <br />
          <br />
          <span id="profile-description"></span>
          <br />
          <br />
      </div>
      <?php endif; ?>

      <div class="cart">
        <div><?php echo $text_qty; ?>
          <input type="text" name="quantity" size="2" value="<?php echo $minimum; ?>" />
          <input type="hidden" name="product_id" size="2" value="<?php echo $product_id; ?>" />
          &nbsp;
          <input type="button" value="<?php echo $button_cart; ?>" id="button-cart" class="button" />
          <span>&nbsp;&nbsp;<?php echo $text_or; ?>&nbsp;&nbsp;</span>
          <span class="links"><a onclick="addToWishList('<?php echo $product_id; ?>');"><?php echo $button_wishlist; ?></a><br />
            <a onclick="addToCompare('<?php echo $product_id; ?>');"><?php echo $button_compare; ?></a></span>
        </div>
        <?php if ($minimum > 1) { ?>
        <div class="minimum"><?php echo $text_minimum; ?></div>
        <?php } ?>
      </div>
      <?php if ($review_status) { ?>
      <div class="review">
        <div><img src="catalog/view/theme/default/image/stars-<?php echo $rating; ?>.png" alt="<?php echo $reviews; ?>" />&nbsp;&nbsp;<a onclick="$('a[href=\'#tab-review\']').trigger('click');"><?php echo $reviews; ?></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a onclick="$('a[href=\'#tab-review\']').trigger('click');"><?php echo $text_write; ?></a></div>
        <div class="share"><!-- AddThis Button BEGIN -->
<div class="addthis_default_style"><a class="addthis_button_compact"><?php echo $text_share; ?></a> <a class="addthis_button_email"></a><a class="addthis_button_print"></a> <a class="addthis_button_facebook"></a> <a class="addthis_button_twitter"></a></div>
<script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js"></script> 
<!-- AddThis Button END --> 
</div>
</div>
      <?php } ?>
</div>
</div>
<div id="tabs" class="htabs">
  <a href="#tab-description"><?php echo $tab_description; ?></a>
    <?php if ($attribute_groups) { ?>
    <a href="#tab-attribute"><?php echo $tab_attribute; ?></a>
    <?php } ?>
    <?php if ($review_status) { ?>
    <a href="#tab-review"><?php echo $tab_review; ?></a>
    <?php } ?>
    <?php if ($products) { ?>
    <a href="#tab-related"><?php echo $tab_related; ?> (<?php echo count($products); ?>)</a>
    <?php } ?>
</div>
<div id="tab-description" class="tab-content"><?php echo $description; ?></div>

   
  <?php if ($tags) { ?>
<div class="tags"><b><?php echo $text_tags; ?></b>
    <?php for ($i = 0; $i < count($tags); $i++) { ?>
    <?php if ($i < (count($tags) - 1)) { ?>
    <a href="<?php echo $tags[$i]['href']; ?>"><?php echo $tags[$i]['tag']; ?></a>,
    <?php } else { ?>
    <a href="<?php echo $tags[$i]['href']; ?>"><?php echo $tags[$i]['tag']; ?></a>
    <?php } ?>
    <?php } ?>
</div>
  <?php } ?>
  <?php echo $content_bottom; ?>
</div>

 <?php */ ;?>

<script type="text/javascript"><!--
$(document).ready(function() {
        $('.colorbox').colorbox({
            overlayClose: true,
            opacity: 0.5,
            rel: "colorbox"
        });
    });
//--></script> 
<script type="text/javascript"><!--

    $('select[name="profile_id"], input[name="quantity"]').change(function() {
        $.ajax({
            url: 'index.php?route=product/product/getRecurringDescription',
            type: 'post',
            data: $('input[name="product_id"], input[name="quantity"], select[name="profile_id"]'),
            dataType: 'json',
            beforeSend: function() {
                $('#profile-description').html('');
            },
            success: function(json) {
                $('.success, .warning, .attention, information, .error').remove();

                if (json['success']) {
                    $('#profile-description').html(json['success']);
                }
            }
        });
    });

    $('#button-cart').on('click', function() {
        $.ajax({
            url: 'index.php?route=checkout/cart/add',
            type: 'post',
            data: $('.product-info input[type=\'text\'], .product-info input[type=\'hidden\'], .product-info input[type=\'radio\']:checked, .product-info input[type=\'checkbox\']:checked, .product-info select, .product-info textarea'),
            dataType: 'json',
            success: function(json) {
                $('.success, .warning, .attention, information, .error').remove();

                if (json['error']) {
                    if (json['error']['option']) {
                        for (i in json['error']['option']) {
                            $('#option-' + i).after('<span class="error">' + json['error']['option'][i] + '</span>');
                        }
                    }

                    if (json['error']['profile']) {
                        $('select[name="profile_id"]').after('<span class="error">' + json['error']['profile'] + '</span>');
                    }
                }

                if (json['success']) {
                    $('#notification').html('<div class="success" style="display: none;">' + json['success'] + '<img src="catalog/view/theme/default/image/close.png" alt="" class="close" /></div>');

                    $('.success').fadeIn('slow');

                    $('#cart-total').html(json['total']);

                    $('html, body').animate({scrollTop: 0}, 'slow');
                }
            }
        });
        return false;
    });
//--></script>

<script type="text/javascript"><!--
    $(document).on('click', '#review .pagination a', function() {
        $('#review').fadeOut('slow');

        $('#review').load(this.href);

        $('#review').fadeIn('slow');

        return false;
    });

    $('#review').load('index.php?route=product/product/review&product_id=<?php echo $product_id; ?>');

    $('#button-review').on('click', function() {
        $.ajax({
            url: 'index.php?route=product/product/write&product_id=<?php echo $product_id; ?>',
            type: 'post',
            dataType: 'json',
            data: 'name=' + encodeURIComponent($('input[name=\'name\']').val()) + '&text=' + encodeURIComponent($('textarea[name=\'text\']').val()) + '&rating=' + encodeURIComponent($('input[name=\'rating\']:checked').val() ? $('input[name=\'rating\']:checked').val() : '') + '&captcha=' + encodeURIComponent($('input[name=\'captcha\']').val()),
            beforeSend: function() {
                $('.success, .warning').remove();
                $('#button-review').attr('disabled', true);
                $('#review-title').after('<div class="attention"><img src="catalog/view/theme/default/image/loading.gif" alt="" /> <?php echo $text_wait; ?></div>');
            },
            complete: function() {
                $('#button-review').attr('disabled', false);
                $('.attention').remove();
            },
            success: function(data) {
                if (data['error']) {
                    $('#review-title').after('<div class="warning">' + data['error'] + '</div>');
                }

                if (data['success']) {
                    $('#review-title').after('<div class="success">' + data['success'] + '</div>');

                    $('input[name=\'name\']').val('');
                    $('textarea[name=\'text\']').val('');
                    $('input[name=\'rating\']:checked').attr('checked', '');
                    $('input[name=\'captcha\']').val('');
                }
            }
        });
    });
//--></script> 
<script type="text/javascript"><!--
//    $('#tabs a').tabs();
//--></script> 
<script type="text/javascript" src="catalog/view/javascript/jquery/ui/jquery-ui-timepicker-addon.js"></script> 
<script type="text/javascript"><!--
$(document).ready(function() {
        $('.date').datepicker({dateFormat: 'yy-mm-dd'});
        $('.datetime').datetimepicker({
            dateFormat: 'yy-mm-dd',
            timeFormat: 'h:m'
        });
        $('.time').timepicker({timeFormat: 'h:m'});
    });
//--></script> 


<?php echo $footer; ?>