<form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form">
    <table class="form">
        <tr>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td width="25%"><?php echo $upload_field_text; ?></td>
            <td><input type="file" name="upload" id="upload" /></td>
        </tr>
        <tr>
            <td width="25%">Разделитель: </td>
            <td><input type="text" name="delimiter"  value="<?php if(!empty($this->request->request['delimiter'])): ?><?php echo $this->request->request['delimiter']; ?><?php else:?>;<?php endif; ?>" /></td>
        </tr>
    </table>
    <button>Загрузить CSV и назначить поля</button>
</form>